.header {
    width: 100%;
    padding: 60px 0 35px;
    background: url('../img/group1.png') no-repeat center / container;

    .header__title {
        font-size: 48px;
        text-align: center;
    }
}